/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex.justify-between {
    justify-content: space-between;
}
.flex.justify-around {
    justify-content: space-around;
}
.flex.justify-evenly {
    justify-content: space-evenly;
}
.flex.justify-center {
    justify-content: center;
}


.align-start{
    align-items: start;
}
.align-end{
    align-items: end;
}
.align-center{
    align-items: center;
}


*, :after, :before {
    box-sizing: border-box;
}



body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(117deg,#ceeaf1,#edf8f7 53%,#94c6c4);
}

body, html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    height: 80px;
    padding: 0 40px;
    max-width: 1500px;
}

.micLogo {
    align-items: center;
    max-width: 300px;
    height: 100%;
}


.navbar-menu-div {
    display: none;
}

.navbar-toggler-icon {
    font-weight: 500;
    font-size: large;
}

.menuBar {
    list-style-type: none;
}


.menuBarItem {
    padding: 20px 5px;
    cursor: pointer; 
    margin: 25 15px;
    transition: 0.4s;   
    box-sizing: border-box;
}

.menuBarItemLink {
    box-sizing: border-box;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px 15px;
    color: #000;
    font-size: large;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.menuBarItem:hover {
    transform: translateY(-4px);
    border-bottom: 4px solid black;
}


.mainContent {
    margin: 0px;
}

.mainContentLeft {
    flex: 2;
}

.mainContentDiv {
    margin-bottom: 30px;
}

.headingDiv {
    margin-top: 120px;
    padding-left: 30px;    
}


.heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 650;
    line-height: 1.3;
    font-size: 4.5rem;
    text-shadow: 0 0 8px rgba(0,0,0,.54);
    margin: 0;
}

.tagline {
    display: block;
    margin: 25px 10px;
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: 350;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
}

.asBtn {
    color: #ffffff;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: #394aff;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
    display: block;
    font-size: 1.1rem;
    margin: 1rem 0;
    margin-left: 10px;
    padding: 0.75rem 2.7vw;
    text-align: center;
    white-space: nowrap;
    transition-duration: 0.15s;
}

.msImageDiv {
    padding-left: 7rem;  
}

.msimage {
    height: 27rem;
    transform: scale(0.9);
    width: 26rem;
}



@keyframes fadeInRight {
    from {
        transform: translateX(-100px);
        opacity: 0;

    }

    to {
        transform: translateX(0px);
        opacity: 1;

    }
}

.fadeInRight {
    animation: fadeInRight 1.5s ease 0s 1 normal none;
}

@keyframes fadeInLeft {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.fadeInLeft {
    animation: fadeInLeft 1.5s ease 0s 1 normal none;
}


.asBtn:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 1296px) {
    
    .headingDiv {
        margin-top: 95px;
    }
    .heading {
        font-size: 4rem;
    }
    .msImage {
        width: 27rem;
        height: 27rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 1.1rem;
    }
    .asBtn {
        padding: 0.75rem 2.7vw;
        font-size: 1rem;
        margin-left: 10px;
    }
}


@media only screen and (max-width: 1200px) {
    .mainContent{
        margin-bottom: 17px;
    }
    .headingDiv {
        margin-top: 85px;
    }
    .heading {
        font-size: 3.5rem;
    }
    .msImage {
        width: 24rem;
        height: 24rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 1rem;
    }
    .asBtn {
        padding: 0.75rem 2.7vw;
        font-size: 1rem;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .mainContent{
        margin-bottom: 65px;
    }
    .headingDiv {
        margin-top: 85px;
    }
    .heading {
        font-size: 3rem;
    }
    .msImage {
        width: 21rem;
        height: 21rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 0.7rem;
    }
    .asBtn {
        padding: 0.75rem 2.7vw;
        font-size: 1rem;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 920px) {
    .mainContent{
        margin-bottom: 110px;
    }
    .menuBarDiv {
        display: none;
    }

    .micLogoDiv {
        padding: 20px 0;
    }

    .headingDiv {
        margin-top: 75px;
    }
    .heading {
        font-size: 3rem;
    }
    .msImage {
        width: 19rem;
        height: 19rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 0.7rem;
    }
    .asBtn {
        padding: 0.75rem 2.7vw;
        font-size: 0.95rem;
        margin-left: 10px;
    }

    .navbar-menu-div {
        display: inline-block;
    }
}

@media only screen and (max-width: 870px) {
    
    .micLogoDiv {
        padding: 20px 0;
    }

    .headingDiv {
        margin-top: 60px;
    }
    .heading {
        font-size: 2.8rem;
    }

    .msImageDiv {
        padding-left: 4rem;
    }

    .msImage {
        width: 17rem;
        height: 17rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 11px;
        margin-bottom: 15px;
        font-size: 0.7rem;
    }
    .asBtn {
        padding: 0.65rem 2.6vw;
        font-size: 0.85rem;
        margin-left: 10px;
    }
    .mainContentDiv {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 760px) {
    
    .micLogoDiv {
        padding: 20px 0;
    }

    .headingDiv {
        margin-top: 40px;
    }
    .heading {
        font-size: 4rem;
    }

    .msImageDiv {
        padding-left: 0rem;
    }

    .msImage {
        width: 24rem;
        height: 24rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 1.1rem;
    }
    .asBtn {
        padding: 0.55rem 2.5vw;
        font-size: 0.8rem;
        margin-left: 10px;
    }
    
    .headingDiv {
        padding: 0;
        margin: 0 30px;
        margin-top: 30px;
    }
    .mainContent {
        display: block;
    }
    .mainContentLeft, .mainContentRight {
        justify-content: center;
    }
}

@media only screen and (max-width: 630px) {
    
    .micLogoDiv {
        padding: 20px 0;
    }

    .headingDiv {
        margin-top: 40px;
    }
    .heading {
        font-size: 2.7rem;
    }

    .msImageDiv {
        padding-left: 0rem;
    }

    .msImage {
        width: 20rem;
        height: 20rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 0.8rem;
    }
    .asBtn {
        font-size: 0.75rem;
        padding: 0.55rem 2.5vw;
        margin-left: 10px;
    }
    
    .headingDiv {
        padding: 0;
        margin: 0 30px;
        margin-top: 30px;
    }
    .mainContent {
        display: block;
        margin-bottom: 60px;
    }
    .mainContentLeft, .mainContentRight {
        justify-content: center;
    }
}

@media only screen and (max-width: 450px) {
    
    .micLogoDiv {
        padding: 20px 0;
    }

    .headingDiv {
        margin-top: 20px;
    }
    .heading {
        font-size: 2rem;
    }

    .msImageDiv {
        padding-left: 0rem;
    }

    .msImage {
        width: 15rem;
        height: 15rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 0.6rem;
    }
    .asBtn {
        font-size: 0.5rem;
        padding: 0.45rem 2.7vw;
        margin-left: 10px;
    }
    
    .headingDiv {
        padding: 0;
        margin: 0 30px;
        margin-top: 0px;
    }
    .mainContent {
        display: block;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .mainContentLeft, .mainContentRight {
        justify-content: center;
    }
    .nav {
        flex-wrap: nowrap;
        padding: 0 10px;
    }
    .micLogo {
        width: 80%;
    }

}

@media only screen and (max-width: 345px) {
    .micLogoDiv {
        padding: 20px 0;
    }
    
    .heading {
        font-size: 2rem;
    }

    .msImageDiv {
        padding-left: 0rem;
    }

    .msImage {
        width: 15rem;
        height: 15rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 0.6rem;
    }
    .asBtn {
        font-size: 0.45rem;
        padding: 0.4rem 2.7vw;
        margin-left: 10px;
    }
    
    
    .headingDiv {
        padding: 0;
        margin: 0 10px;
        margin-top: 0px;
    }
    .mainContent {
        display: block;
        margin-bottom: 60px;
    }
    .mainContentLeft, .mainContentRight {
        justify-content: center;
    }
    .nav {
        flex-wrap: nowrap;
        padding: 0 10px;
    }
    .micLogo {
        width: 80%;
    }
    
}


@media only screen and (max-width: 310px) {
    .micLogoDiv {
        padding: 20px 0;
    }
    
    .heading {
        font-size: 1.5rem;
    }

    .msImageDiv {
        padding-left: 0rem;
    }

    .msImage {
        width: 12rem;
        height: 12rem;
    }
    .tagline {
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 0.45rem;
    }
    .asBtn {
        font-size: 0.4rem;
        padding: 0.45rem 2.7vw;
        margin-left: 10px;
    } 
    
    
    .headingDiv {
        padding: 0;
        margin-top: 0px;
    }
    .mainContent {
        display: block;
        margin-bottom: 80px;
    }
    .mainContentLeft, .mainContentRight {
        justify-content: center;
    }
    .nav {
        flex-wrap: nowrap;
        padding: 0 10px;
    }
    .micLogo {
        width: 80%;
    }
    
}







.menuBarDiv1 {
    width: 100%;
    display: block;
    position: absolute;
    top: 80px;
    max-height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.688);
    z-index: 1;
    right: 140vw;
    transition: all 0.5s ease;
}

.menuBar1 {
    
    flex-direction: column;
    justify-content: center;
}

.menuBarItem1 {
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    justify-content: center;
}

.menuBarItemLink1 {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: larger;
}

.menuBarItem1 {
    padding: 35px;
    text-align: center;
}

.menuToggleCheckbox {
    display: none;
}

.menuToggleLabel {
    display: none;
}



@media only screen and (min-width: 921px) {
    .menuBarDiv1 {
        display: none;
    }
}


@media only screen and (max-width: 920px) {
    
    .menuToggleLabel {
        display: block;
        font-size: larger;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        cursor: pointer;
    }
    
}

.menuToggleLabelCross {
    cursor: pointer;
    display: none;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.menuToggleCheckbox:checked ~ .menuBarDiv1 {
    right: 0; /* Slide it into view */

}

/* .menuToggleCheckbox:checked ~ div label {
    display: none; 
}

.menuToggleCheckbox:checked ~ div label {
    display: inline;
} */